In [ ]:
# Importing the necessary libraries for pandas and numpy

import pandas as pd
import numpy as np

In [ ]:
# Loading dataset

df = pd.read_csv('http://bit.ly/autolib_dataset')

df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

In [ ]:
#We then explore our data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [ ]:
# We then go to Data Cleaning and begin with the column names
# Changing column names to lowercase

df.columns = map(str.lower, df.columns)

columns = ['address', 'cars', 'bluecar_counter', 'utilib_counter', 'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city', 'displayed_comment', 'id', 'kind', 'geo_point', 'postal_code', 'public_name', 'rental_status', 'scheduled_at', 'slots', 'station_type', 'status', 'subscription_status', 'year', 'month', 'day', 'hour', 'minute']

df.columns = columns

df.columns

Index(['address', 'cars', 'bluecar_counter', 'utilib_counter',
       'utilib_1.4_counter', 'charge_slots', 'charging_status', 'city',
       'displayed_comment', 'id', 'kind', 'geo_point', 'postal_code',
       'public_name', 'rental_status', 'scheduled_at', 'slots', 'station_type',
       'status', 'subscription_status', 'year', 'month', 'day', 'hour',
       'minute'],
      dtype='object')

In [ ]:
# Checking the shape of the new dataset

df.shape

(5000, 25)

In [ ]:
# Previewing the data

df.head()

                              address  cars  bluecar_counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [ ]:
# Check for null values

df.isnull().sum()

address                   0
cars                      0
bluecar_counter           0
utilib_counter            0
utilib_1.4_counter        0
charge_slots              0
charging_status           0
city                      0
displayed_comment      4889
id                        0
kind                      0
geo_point                 0
postal_code               0
public_name               0
rental_status             0
scheduled_at           4953
slots                     0
station_type              0
status                    0
subscription_status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [ ]:
# Drop the displayed_comment column and scheduled_at, too many missing columns

df.drop('displayed_comment', axis= 1, inplace= True)

In [ ]:
df.drop('scheduled_at', axis= 1, inplace= True)

In [ ]:
#Check for null values again

df.isnull().sum()

address                0
cars                   0
bluecar_counter        0
utilib_counter         0
utilib_1.4_counter     0
charge_slots           0
charging_status        0
city                   0
id                     0
kind                   0
geo_point              0
postal_code            0
public_name            0
rental_status          0
slots                  0
station_type           0
status                 0
subscription_status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

In [ ]:
#Check data type of dataset again

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   address              5000 non-null   object
 1   cars                 5000 non-null   int64
 2   bluecar_counter      5000 non-null   int64
 3   utilib_counter       5000 non-null   int64
 4   utilib_1.4_counter   5000 non-null   int64
 5   charge_slots         5000 non-null   int64
 6   charging_status      5000 non-null   object
 7   city                 5000 non-null   object
 8   id                   5000 non-null   object
 9   kind                 5000 non-null   object
 10  geo_point            5000 non-null   object
 11  postal_code          5000 non-null   int64
 12  public_name          5000 non-null   object
 13  rental_status        5000 non-null   object
 14  slots                5000 non-null   int64
 15  station_type         5000 non-null   object
 16  status               5000 non-null   object
 17  subscription_status  5000 non-null   object
 18  year                 5000 non-null   int64
 19  month                5000 non-null   int64
 20  day                  5000 non-null   int64
 21  hour                 5000 non-null   int64
 22  minute               5000 non-null   int64
dtypes: int64(12), object(11)
memory usage: 898.6+ KB

In [ ]:
#Convert year, month and day column to date column

df['date'] = df['year'].map(str) + '-' + df['month'].map(str) + '-' + df['day'].map(str)

In [ ]:
#Combining hour and minute column to time column

df['time'] = df['hour'].map(str) + df['minute'].map(str)

In [ ]:
#Changing date and time columns to datetime types

df.date = pd.to_datetime(df.date)

In [ ]:
df['time'] = (df['time'].apply(lambda x: pd.to_datetime(x, format = '%H%M')).dt.strftime('%H:%M'))

In [ ]:
df.head()

                              address  cars  ...       date   time
0                 2 Avenue de Suffren     0  ... 2018-04-08  11:43
1           145 Rue Raymond Losserand     6  ... 2018-04-06  07:24
2    2 Avenue John Fitzgerald Kennedy     3  ... 2018-04-03  20:14
3              51 Rue EugÃ¨ne OudinÃ©     3  ... 2018-04-04  04:37
4  6 avenue de la Porte de Champerret     3  ... 2018-04-08  17:23

[5 rows x 25 columns]

In [ ]:
#To confirm if the datatypes have been changed

df.dtypes

address                        object
cars                            int64
bluecar_counter                 int64
utilib_counter                  int64
utilib_1.4_counter              int64
charge_slots                    int64
charging_status                object
city                           object
id                             object
kind                           object
geo_point                      object
postal_code                     int64
public_name                    object
rental_status                  object
slots                           int64
station_type                   object
status                         object
subscription_status            object
year                            int64
month                           int64
day                             int64
hour                            int64
minute                          int64
date                   datetime64[ns]
time                           object
dtype: object